@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --main:rgb(12, 12, 12);
    --second: rgb(44, 187, 235);
    --third: rgb(252, 185, 15);
    --use: white;
    --use2: rgb(144, 144, 144);
}




/*  FOR SCREEN LIKE PHONES , TABLET */
@media screen and (max-width: 970px) {




    #resultat-produit #item-resultat{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
       }
    
      #item-resultat a{
        text-decoration: none;
      }
       .product-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        /* Optional: Adjust width for different layouts */
        width: 48%;
        height: max-content;
        box-shadow: 2px 3px 4px gray;
        font-size: 20px;
        font-family: 'Montserrat';
        cursor: pointer;
        transition: all 0.40s;
        text-decoration: none;
    }
    .product-item:hover{
      transform: scale(0.99);
      opacity: 0.9;
    }
    
    .product-item span{
        color: white;
        padding: 5px;
        border-top-right-radius: 10px;
        font-family: 'Montserrat' !important;
        font-size: 13px;
        background-color: rgba(0, 128, 0, 0.683);
        width: max-content;
        box-shadow: 2px 3px 4px gray;
        z-index: 99;
    }
    
    .product-item img {
        width: 100%;
        height: 180px; /* Adjust image height as needed */
        object-fit: cover;
        margin-bottom: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .product-item .product-title {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 15px;
        color: gray;
    }
    
    .product-item .product-price {
         color: green;
         font-weight: bold;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    
       /* =============================================== */
    
    




}




/* ========================================================== */





/* FOR SCREEN  LIKE COMPUTERS  */


@media screen and (min-width: 971px) {


    #resultat-produit #item-resultat{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        padding: 10px;
       }
    
      #item-resultat a{
        text-decoration: none;
      }
       .product-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        /* Optional: Adjust width for different layouts */
        width: 24%;
        height: max-content;
        box-shadow: 2px 3px 4px gray;
        font-size: 20px;
        font-family: 'Montserrat';
        cursor: pointer;
        transition: all 0.40s;
        text-decoration: none;
    }
    .product-item:hover{
      transform: scale(0.99);
      opacity: 0.9;
    }
    
    .product-item span{
        color: white;
        padding: 5px;
        border-top-right-radius: 10px;
        font-family: 'Montserrat' !important;
        font-size: 13px;
        background-color: rgba(0, 128, 0, 0.683);
        width: max-content;
        box-shadow: 2px 3px 4px gray;
        z-index: 99;
    }
    
    .product-item img {
        width: 100%;
        height: 180px; /* Adjust image height as needed */
        object-fit: cover;
        margin-bottom: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .product-item .product-title {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 15px;
        color: gray;
    }
    
    .product-item .product-price {
         color: green;
         font-weight: bold;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    
       /* =============================================== */






}



/* =========================================================== */